<h2> Use Host Listener & Host Binding for Better Directives </h2> 

<p appImproved> Using @hostlistener() to make the this sentence turn salmon when the mouse goes over it.  </p>


<p appImprove> Lets use the @hostbinding to host properties on this sentence. </p>

<p> bind to a property and you need the value.  Pass a string to the property we want to bind.  camelCase is important because you are accessing the DOM that doesnt know. Access the style property and then a sub property and set it equal to which color you want.  </p>